//- миксин слайдера
include ../components/product-slider.pug
//- миксин карточки товара
include ../components/product-card.pug

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.min.css")
        title Document
    body 
        .wrapper
            include ../components/header.pug  
            .main
                include ../components/home/hero.pug 
                include ../components/home/section-rubric.pug 
                section.product-slider.product-slider-four-slide
                    .container
                        .product-slider__header 
                            h2.product-slider__title.h2-title Хиты продаж
                            a(href="#").product-slider__more Перейти в каталог
                        +product-slider
                include ../components/home/section-news.pug
                section.product-slider.product-slider-four-slide.padding-section
                    .container
                        .product-slider__header 
                            h2.product-slider__title.h2-title Акции
                            a(href="#").product-slider__more Перейти в каталог
                        +product-slider
                include ../components/article-module.pug
                include ../components/home/section-flashlight.pug
                include ../components/section-flashlight-product.pug
                include ../components/home/section-up-footer.pug
            include ../components/footer.pug
            include ../components/popup.pug
        script(src="../js/dist/app.min.js") 

        //- 5 51