doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.min.css")
        title Document
    body 
        .wrapper
            include ../components/header.pug  
            .main
                include ../components/home/hero.pug 
            include ../components/footer.pug
            include ../components/popup.pug
        script(src="../js/dist/app.min.js") 

        //- 1 39