// файл для часто используемых классов (margin display и тд)
._block-close {
	display: none !important;
}

.gold-btn{
	cursor: pointer;
	border-radius: 3px;
	box-shadow: 0px 4px 20px 0px rgba(232, 170, 49, 0.43);
	background: $color-gold;
	color: white;
	transition: box-shadow .3s ease;
	@media (hover:hover) {
	  &:hover{
		  box-shadow: 0px 4px 30px 0px rgba(232, 170, 49, 0.43);
	  }
	}
}

// падинги для секция
.padding-section{
	@include adaptiv-value("padding-top", 100, 40);
}