@use 'sass:math';
@import "../css/normalize";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// swiper
// @import "../css/library/swiper.min";

@import "../../node_modules/tippy.js/dist/tippy";


@import "./abstacts/_mixin";
@import "./abstacts/_variable";
@import "./abstacts/media";

@import './base/typography';
@import './base/utilities';

@import "./libries/_library-class";
//@import "fonts"


[class^="svg-svg"] {
  object-fit: cover;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  scrollbar-gutter: stable;
	@include large-tablet {
    font-size: 15px;
	}
	@include large-mobile {
    font-size: 14px;
	}
  @include small-mobile{
    font-size: 13px;
  }
}


*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

button {
  background-color: transparent;
  border: none;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

input{
  border: none;
  background: transparent;
  &:focus{
    outline: none;
  }
}

// блокировка скрола
.scroll-block {
  overflow: hidden;
}

// увелечение нажатия
.touch-area{
  position: relative;
  &::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    padding: rem(12);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

// прижимаем footer
html, body{
  height: 100%;
  scrollbar-gutter: stable;
}
.wrapper{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.main{
  flex-grow: 1;
}

body{
  font-family: "Montserrat", sans-serif;
  font-size: rem(18);
  line-height: 1.5;
  font-weight: 500;
  color: black;
}

.container{
  padding: 0 rem(15);
  max-width: rem(1620);
  margin: 0 auto;
}

// общие стили

@import "./components/header";
@import "./components/footer";
