@use 'sass:math';

@mixin back-img ($path, $size, $extens){
    background-image:
         image-set(
            url("#{$path}.avif") type("image/avif") 1x,
            url("#{$path}.webp") type("image/webp") 1x,
            url("#{$path}.#{$extens}") 1x,
            url("#{$path}-2x.avif") type("image/avif") 2x,
            url("#{$path}-2x.webp") type("image/webp") 2x,
            url("#{$path}-2x.#{$extens}") 2x);
    background-size: $size;
    background-repeat: no-repeat;
}
    

@mixin back-img-1x ($path, $size, $extens){
    background-image: 
        image-set( 
            url("#{$path}.avif") type("image/avif") 1x, 
            url("#{$path}.webp") type("image/webp") 1x, 
            url("#{$path}.#{$extens}") 1x);
    background-size: $size;
}
   
@function em($px, $current: 16) {
	$result: math.div($px, $current) + em;
	@return $result;
}

//Percent
@function percent($px, $from) {
	$result: math.div($px, $from) * 100%;
	@return $result;
}

$maxWidth: 1920;
$maxContainerWidth: 1590;
$minWidth: 320;
$containerWidth: $maxContainerWidth + 30;

// Адаптивное свойство (clamp) 
// widthFrom - размер с которого начинаем 
// widthTo - до какого должно быть использованно
@mixin adaptiv-value($property, $startSize, $minSize, $widthFrom: $maxContainerWidth, $widthTo: $minWidth, $keepSize: 0) {
	@if ($startSize==0) {
		$startSize: 0.000001;
	}
	@if ($minSize==0) {
		$minSize: 0.000001;
	}

	// Для calc();
	$addSize: math.div($startSize - $minSize, 16);

	@if ($widthFrom == $containerWidth and $maxContainerWidth == 0) {
		$widthFrom: $maxWidth;
	}

	// Брейк-поинты в EM
	$widthFromMedia: em($widthFrom);
	$widthToMedia: em($widthTo);

	// Формула плавающего значения
	// Источник: https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/
	$slope: math.div(($startSize - $minSize), ($widthFrom - $widthTo));
	$yIntersection: -$widthTo * $slope + $minSize;
	@if ($yIntersection==0) {
		$yIntersection: 0.000001;
	}
	$flyValue: #{rem($yIntersection)}" + " #{$slope * 100}vw;

	// Получение значения свойства
	$propertyValue: #{"clamp(" rem($minSize) "," $flyValue "," rem($startSize) ")"};
	// Если отрицательные значения
	@if ($minSize > $startSize) {
		$propertyValue: #{"clamp(" rem($startSize) "," $flyValue "," rem($minSize) ")"};
	}

	// Устанавливаем значения по умолчанию
	@if $keepSize != 1 and $keepSize != 3 {
		@media (min-width: $widthFromMedia) {
			#{$property}: rem($startSize);
		}
	}
	// Адаптируем размер в промежутке между указанными ширинами вьюпорта
	@media (min-width: $widthToMedia) and (max-width: $widthFromMedia) {
		// Если поддерживается clamp();
		@supports (#{$property}: $propertyValue) {
			#{$property}: $propertyValue;
		}
		// Если не поддерживается clamp();
		@supports not (#{$property}: $propertyValue) {
			#{$property}: calc(#{rem($minSize)} + #{$addSize} * (100vw - #{rem($widthTo)}) / #{math.div($widthFrom, 16) - math.div($widthTo, 16)});
		}
	}
	@if $keepSize != 1 and $keepSize != 2 {
		@media (max-width: $widthToMedia) {
			#{$property}: rem($minSize);
		}
	}
}


@mixin fluid-text($max: 48, $min: 16) {
  $maxViewportWidth: 1270;
  $minViewportWidth: 360;

  $maxSize: math.div($max, 16);
  $minSize: math.div($min, 16);
  $maxWidth: math.div($maxViewportWidth, 16);
  $minWidth: math.div($minViewportWidth, 16);

  $slope: math.div(($maxSize - $minSize), ($maxWidth - $minWidth));
  $yAxisIntersection: -$minWidth * $slope + $minSize;

  font-size: clamp(
    #{$minSize * 16px},
    #{$yAxisIntersection * 16px} + #{$slope * 100vw},
    #{$maxSize * 16px}
  );
}
// @include fluid-text(40, 28) - использование


@function rem($pixel) {
  @if math.is-unitless($pixel) {
    @return math.div($pixel, 16) + rem;
  } @else {
    @error 'Не используйте единицы измерения при работе с функцией rem()! Передавайте аргументом только числа.';
  }
}

// rem(250)