.hero {
	background-color: rgba(20, 20, 20, 1);
	@include back-img-1x('@img/hero/bg', cover, 'png');
	@include adaptiv-value('padding-top', 40, 20);
	@include adaptiv-value('padding-bottom', 60, 20);
}

.hero__slider {
	display: grid;
	@include min-large-tablet{
		grid-template-columns: 1fr percent(635, 1600);
	}
}

.slide-hero,.hero-media-swiper__slide {
	opacity: 0 !important;
	pointer-events: none; 
	&.swiper-slide-visible {
		opacity: 1 !important;
		pointer-events: auto;
	}
}
.slide-hero .slide-hero__title {
	line-height: math.div(46, 36);
	font-size: rem(36);
	@include adaptiv-value("font-size", 36, 28, 992, 320, 1);
	color: white;
	font-weight: 700; 
	span {
		display: block;
		margin-top: rem(15);
		font-weight: 500;
	}
}

.slide-hero__text {
	font-size: rem(20);
	line-height: math.div(30, 20);
	color: rgba($color: white, $alpha: 0.7);
	@include adaptiv-value('padding-top', 30, 20);
	@include adaptiv-value('padding-bottom', 50, 20);
}

.slide-hero__button {
	font-size: rem(20);
	font-weight: 600;
	line-height: math.div(32, 20);
	padding: rem(15) rem(50);
	@include small-mobile{
		display: block;
		text-align: center;
	}
}

.media-hero {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: rem(15);
	position: relative;
}

.slide-hero__media {
	padding-right: rem(54);
}

.media-hero__img {
	max-width: rem(600);
	position: relative;
	object-fit: contain;
	z-index: 2;
	@media (max-width:1120px) {
		aspect-ratio: 1;
	}
	@include min-large-tablet{
		max-width: 85%;
	}
	&--2 {
		@include min-large-tablet{
			transform: translateX(rem(128));
			max-width: 65%;
		}
		@include small-desktop-1200{
			transform: translateX(5rem);
		}
		@include small-tablet{
			transform: translateX(2rem);
		}
	}
	&--3 {
		@include min-large-tablet{
			max-width: 75%;
			transform: translateX(rem(25));
		}
	}
	
	@include small-tablet{
		max-width: 25rem;
	}
	
}

picture:has(.media-hero__img) {
	position: relative;
	&::before {
		content: '';
		position: absolute;
		bottom: 5%;
		right: 0;
        // 390 - ширина круга 480 - ширина родителя before. картинка имеет такую же ширину
        width: percent(390, 480);
        // padding-bottom - вместо высоты
        padding-bottom: percent(390, 480);
		border: 2px solid rgba(255, 255, 255, 0.5);
		border-radius: 50%;
		transform: translate(10%, 0px);
	}
}

.media-hero__tip {
	position: absolute;
	button {
		width: rem(20);
		height: rem(20);
		position: relative;
		border-radius: 50%;
		cursor: pointer;
		z-index: 3;
		&::before,
		&::after {
			content: '';
			background-color: $color-gold;
			border-radius: 50%;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		&::after {
			transform: scale(1.6);
			opacity: 0.5;
		}
		span {
			color: white;
			font-weight: 600;
			font-size: rem(20);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			z-index: 2;
			transition: transform 0.3s ease;
		}
	}

	&--1 {
		top: percent(176, 500);
		left: percent(72, 447);
	}

	&--2 {
		top: 13%;
		right: 21%;
		left: auto;
		@include small-mobile{
			right: 14%;
		}
	}
	&--3 {
		top: auto;
		right: 28%;
		bottom: 21%;
		left: auto;
		@include small-mobile{
			right: 14%;
		}
	}

	@media (hover: hover) {
		&:hover {
			span {
				transform: rotate(90deg);
			}
		}
	}
}

.media-hero-tooltip {
	border-radius: rem(10);
	font-size: rem(14);
	line-height: 1.1;
	top: rem(31);
	left: rem(-25);
	background-color: #1b2121;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	&::after {
		left: rem(27);
		border-bottom: rem(10) solid #1b2121;
	}
}

.hero-swiper {
	position: relative;
	width: 100%;
	display: flex;
	align-self: flex-start;
	flex-direction: column;
}

.hero-swiper-pagination {
	display: flex;
	justify-content: flex-start;
	margin-top: rem(25);
}

.hero-swiper-pagination__bullet {
	@include swiper-dotts(white);
}

.hero-swiper-pagination__fraction {
	margin-left: rem(25);
}

.fraction-hero {
	color: white;
	font-weight: 600;
}

.fraction-hero__current {
	font-size: rem(24);
	line-height: math.div(40, 24);
	color: $color-gold;
}

.fraction-hero__all {
	font-size: rem(18);
	line-height: math.div(40, 18);
}

.hero-media-swiper {
    width: 100%;
}


body .hero__advantages{
    @include adaptiv-value("margin-top", 45, 30);
}

.advantages-hero{
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: rem(15);
    justify-content: space-between;
	@include small-tablet{
		grid-template-columns: repeat(2, 1fr);
		gap: rem(20);
	}
	@include small-mobile{
		grid-template-columns: 1fr;
		row-gap: rem(40);
	}
}


.advantages-hero__item{
    display: grid;
    justify-items: center;
    gap: rem(17);
    text-align: center;
    grid-template-rows: subgrid;
    grid-row: span 2
}

.advantages-hero__text{
    color: white;
    line-height: math.div(32, 20);
    font-size: rem(20);
    font-weight: 600;
}