.new-products{
    background-color: rgba(20, 20, 20, 1);
    @include back-img-1x("@img/hero/bg", cover, "png");
}

.new-products__inner{
    // display: grid;
    // grid-template-columns: percent(400, 1600) 1fr;
    display: flex;
    column-gap: rem(20);
    @include adaptiv-value("padding-top", 20, 5);
    @include adaptiv-value("padding-bottom", 40, 20);
    @include large-tablet{
        display: block;
    }
    @include small-tablet{
        padding-top: rem(20);
    }
}

.new-products__body{
    flex-basis: calc( 395 / 1600 *100%);
    flex-shrink: 0;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        display: block;
        @include back-img-1x("@img/hero/bg", cover,"jpg");
        background-color: rgba(20, 20, 20, 1);
        height: calc(100% + rem(66));
        width: 100vw;
        bottom: 0;
        right: percent(-330, 400);
        // transform: translate(percent(330, 400), 0px);
        @include large-tablet{
            right: auto;
            left: -56.5%;
            background-color: rgb(27 23 23);
        }
        @include small-tablet{
            display: none;
        }
    }
}

.new-products__slider {
    max-width: percent(1185, 1600);
    @include adaptiv-value("padding-top", 30, 20);
    .product-slider-pagination{
        @include adaptiv-value("margin-top", 50, 20);
    }
    @include large-tablet{
        max-width: none;
    }
}

.new-products__title{
    color: white;
    margin-bottom: rem(30);
    position: relative;
    z-index: 2;
}

.new-products__text{
    color: rgba(255, 255, 255, 0.7);
    position: relative;
    z-index: 2;
    max-width: rem(336);
    @include large-tablet{
        max-width: none;
    }
}

.new-products__link{
    color: $color-gold;
    font-size: rem(20);
    font-weight: 600; 
    @include adaptiv-value("margin-top", 60, 25);
    @include underlineHover($color-gold);
    &::after{
        content: "";
        width: rem(13);
        height: rem(10);
        display: inline-block;
        transform: rotate(-90deg);
        margin-left: rem(15);
        background: url("@svg/arrow-gold.svg") no-repeat;
        background-size: contain;
        position: relative;   
        top: -1px;
    }
}