.rubric {
    @include adaptiv-value("padding-top", 100, 40);
    @include adaptiv-value("padding-bottom", 70, 40);
}

.rubric__items {
    display: grid;
    gap: rem(30);
    grid-template-columns: repeat(auto-fit, minmax(rem(400), 1fr));
    @media (max-width: 350px) {
        grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    }
}

.rubric-card {
    box-shadow: $box-shadow;
    background-color: white;
    min-height: rem(290);
    overflow: hidden;
    transition: box-shadow .3s;
    @media (hover:hover) {
      &:hover{
          box-shadow: $box-shadow-hover;
      }
    }
    article {
        position: relative;
        display: flex;
        height: 100%;
        @include small-mobile{
            // display: flex;
            // flex-direction: column;
            // align-items: center;
            display: grid;
        }
    }
}
.rubric-card__body {
    @include adaptiv-value("padding", 30, 20);
    & > * {
        position: relative;
        z-index: 1;
    }
}

body .rubric-card__list {
    list-style-type: disc;
    margin-top: rem(30);
}
.rubric-card__item {
    list-style-type: disc;
    list-style-position: inside; //для того чтоб можно
    // padding-left: 10px;
    &::marker{
        color: $color-gold;
    }
    &:not(:last-child){
        margin-bottom: rem(10);
    }
}
.rubric-card__link {
    font-size: rem(18);
    line-height: math.div(34, 18);
}

.rubric-card__body + picture{
    margin-left: auto;
    max-width: 40%;
    height: 107%;
    display: flex;
    align-items: flex-end;
    position: absolute;
    right: 0;
    bottom: rem(-30);
    @include small-mobile{
        position: static;
        margin: 0 auto;
    }
}

.rubric-card__image{
    // max-width: 75%;
    height: 80%;
    @include small-mobile{
       height: 100%;
    }
}