.rubric 
    .container 
        ul.rubric__items 
            li.rubric__item.rubric-card 
                article 
                    .rubric-card__body
                        h3.rubric-card__title.undrline-title 
                            a(href="#") Каталог ножей
                        ul.rubric-card__list 
                            li.rubric-card__item
                                a(href="#").rubric-card__link Разделочные 
                            li.rubric-card__item
                                a(href="#").rubric-card__link Туристические
                            li.rubric-card__item
                                a(href="#").rubric-card__link Охотничьи
                    picture 
                        source(type="image/avif" srcset="@img/rubric/1.avif")
                        source(type="image/webp" srcset="@img/rubric/1.webp")
                        img(src="@img/rubric/1.jpg").rubric-card__image
            li.rubric__item.rubric-card 
                article 
                    .rubric-card__body
                        h3.rubric-card__title.undrline-title 
                            a(href="#") Среднеклинковое оружие
                        ul.rubric-card__list 
                            li.rubric-card__item
                                a(href="#").rubric-card__link Разделочные 
                            li.rubric-card__item
                                a(href="#").rubric-card__link Туристические
                            li.rubric-card__item
                                a(href="#").rubric-card__link Охотничьи
                    picture 
                        source(type="image/avif" srcset="@img/rubric/2.avif")
                        source(type="image/webp" srcset="@img/rubric/2.webp")
                        img(src="@img/rubric/2.jpg").rubric-card__image
            li.rubric__item.rubric-card 
                article 
                    .rubric-card__body
                        h3.rubric-card__title.undrline-title 
                            a(href="#") Длинноклинковое оружие
                        ul.rubric-card__list 
                            li.rubric-card__item
                                a(href="#").rubric-card__link Разделочные 
                            li.rubric-card__item
                                a(href="#").rubric-card__link Туристические
                            li.rubric-card__item
                                a(href="#").rubric-card__link Охотничьи
                    picture 
                        source(type="image/avif" srcset="@img/rubric/3.avif")
                        source(type="image/webp" srcset="@img/rubric/3.webp")
                        img(src="@img/rubric/3.jpg").rubric-card__image
            li.rubric__item.rubric-card 
                article 
                    .rubric-card__body
                        h3.rubric-card__title.undrline-title 
                            a(href="#") Сувенирные изделия
                        ul.rubric-card__list 
                            li.rubric-card__item
                                a(href="#").rubric-card__link Разделочные 
                            li.rubric-card__item
                                a(href="#").rubric-card__link Туристические
                            li.rubric-card__item
                                a(href="#").rubric-card__link Охотничьи
                    picture 
                        source(type="image/avif" srcset="@img/rubric/4.avif")
                        source(type="image/webp" srcset="@img/rubric/4.webp")
                        img(src="@img/rubric/4.jpg").rubric-card__image
            li.rubric__item.rubric-card 
                article 
                    .rubric-card__body
                        h3.rubric-card__title.undrline-title 
                            a(href="#") Сопутствующие товары
                        ul.rubric-card__list 
                            li.rubric-card__item
                                a(href="#").rubric-card__link Разделочные 
                            li.rubric-card__item
                                a(href="#").rubric-card__link Туристические
                            li.rubric-card__item
                                a(href="#").rubric-card__link Охотничьи
                    picture 
                        source(type="image/avif" srcset="@img/rubric/5.avif")
                        source(type="image/webp" srcset="@img/rubric/5.webp")
                        img(src="@img/rubric/5.jpg").rubric-card__image
            li.rubric__item.rubric-card 
                article 
                    .rubric-card__body
                        h3.rubric-card__title.undrline-title 
                            a(href="#") Ножевая мастерская
                        ul.rubric-card__list 
                            li.rubric-card__item
                                a(href="#").rubric-card__link Разделочные 
                            li.rubric-card__item
                                a(href="#").rubric-card__link Туристические
                            li.rubric-card__item
                                a(href="#").rubric-card__link Охотничьи
                    picture 
                        source(type="image/avif" srcset="@img/rubric/6.avif")
                        source(type="image/webp" srcset="@img/rubric/6.webp")
                        img(src="@img/rubric/6.jpg").rubric-card__image
            