section.new-products.product-slider-three-slide
    .container
        .new-products__inner
            .new-products__body
                h2.h2-title.new-products__title Новинки
                .new-products__text Добро пожаловать на официальный сайт «ЗЛАТМАКС»! В нашем магазине представлен наиболее широкий выбор Златоустовских ножей от Златоустовских Оружейных Фабрик и компаний, мы являемся официальными поставщиками.
                a(href="#").new-products__link Больше новинок
            .new-products__slider 
                +product-slider 