section.flashlight-product 
    .container 
        .flashlight-product__inner
            .flashlight-product__item.item-flashlight
                .item-flashlight__body 
                    h2.item-flashlight__title.undrline-title
                     a(href="#")  Тактические фонари
                    p.item-flashlight__text Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    a(href="#").item-flashlight__link.gold-btn Подробнее
                .item-flashlight__img-block(data-da=".item-flashlight__body, 581, 2") 
                    picture 
                        source(type="image/avif" srcset="@img/flashlight/1.avif")
                        source(type="image/webp" srcset="@img/flashlight/1.webp")
                        img(src="@img/flashlight/1.png").item-flashlight__img   
            .flashlight-product__item.item-flashlight
                .item-flashlight__body.item-flashlight__body--second 
                    h2.item-flashlight__title.undrline-title
                     a(href="#")  Палобные мультифонари
                    p.item-flashlight__text Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    a(href="#").item-flashlight__link.gold-btn Подробнее
                .item-flashlight__img-block(data-da=".item-flashlight__body--second, 581, 2")  
                    picture 
                        source(type="image/avif" srcset="@img/flashlight/2.avif")
                        source(type="image/webp" srcset="@img/flashlight/2.webp")
                        img(src="@img/flashlight/2.png").item-flashlight__img   

