section.article-module
    .container 
        h2.h2-title.article-module__title Наши статьи
        .article-module__items 
            article.article-module__item.article-item
                picture 
                  source(type="image/avif" srcset="@img/article/card-1.avif")
                  source(type="image/webp" srcset="@img/article/card-1.webp")
                  img(src="@img/article/card-1.jpg").article-item__img
                .article-item__body 
                    h3.h3-title.article-item__title Все о ножах: как правильно выбрать
                    .article-item__date 24.07.2019
                a(href="#").article-item__link 
            article.article-module__item.article-item
                picture 
                  source(type="image/avif" srcset="@img/article/card-2.avif")
                  source(type="image/webp" srcset="@img/article/card-2.webp")
                  img(src="@img/article/card-2.jpg").article-item__img
                .article-item__body 
                    h3.h3-title.article-item__title Все о ножах: как правильно выбрать
                    .article-item__date 24.07.2019
                a(href="#").article-item__link 
            article.article-module__item.article-item
                picture 
                  source(type="image/avif" srcset="@img/article/card-3.avif")
                  source(type="image/webp" srcset="@img/article/card-3.webp")
                  img(src="@img/article/card-3.jpg").article-item__img
                .article-item__body 
                    h3.h3-title.article-item__title Все о ножах: как правильно выбрать
                    .article-item__date 24.07.2019
                a(href="#").article-item__link 
            article.article-module__item.article-item
                picture 
                  source(type="image/avif" srcset="@img/article/card-4.avif")
                  source(type="image/webp" srcset="@img/article/card-4.webp")
                  img(src="@img/article/card-4.jpg").article-item__img
                .article-item__body 
                    h3.h3-title.article-item__title Все о ножах: как правильно выбрать
                    .article-item__date 24.07.2019
                a(href="#").article-item__link 