footer.footer 
    .container
        .footer__inner 
            .footer__floor.floor-item  
                <div data-spollers="768,max" class="spollers footer__spoiler">
                    <div class="spollers__item item-footer-spoiler">
                        <button type="button" data-spoller-close data-spoller class="item-footer-spoiler__title">ИНФОРМАЦИЯ</button>
                        <div class="item-footer-spoiler__body">
                            nav.item-footer-spoiler__nav
                                ul.item-footer-spoiler__items 
                                    li.item-footer-spoiler__item
                                        a(href="#").item-footer-spoiler__link Златоустовские ножи в Москве и Московской области
                                    li.item-footer-spoiler__item
                                        a(href="#").item-footer-spoiler__link Ножевые стали
                                    li.item-footer-spoiler__item
                                        a(href="#").item-footer-spoiler__link О нас
                                    li.item-footer-spoiler__item
                                        a(href="#").item-footer-spoiler__link Условия оплаты и доставки
                                    li.item-footer-spoiler__item
                                        a(href="#").item-footer-spoiler__link Политика конфиденциальности
                        </div>
                    </div>
                </div>
                <div data-spollers="768,max" class="spollers footer__spoiler">
                    <div class="spollers__item item-footer-spoiler">
                        <button type="button" data-spoller-close data-spoller class="item-footer-spoiler__title">СЛУЖБА ПОДДЕРЖКИ</button>
                        <div class="item-footer-spoiler__body">
                            nav.item-footer-spoiler__nav
                                ul.item-footer-spoiler__items 
                                    li.item-footer-spoiler__item
                                        a(href="#").item-footer-spoiler__link Контактная информация
                                    li.item-footer-spoiler__item
                                        a(href="#").item-footer-spoiler__link Возврат товара
                                    li.item-footer-spoiler__item
                                        a(href="#").item-footer-spoiler__link Карта сайта
                        </div>
                    </div>
                </div>
                <div data-spollers="768,max" class="spollers footer__spoiler">
                    <div class="spollers__item item-footer-spoiler">
                        <button type="button" data-spoller-close data-spoller class="item-footer-spoiler__title">ДОПОЛНИТЕЛЬНО</button>
                        <div class="item-footer-spoiler__body">
                            nav.item-footer-spoiler__nav
                                ul.item-footer-spoiler__items 
                                    li.item-footer-spoiler__item
                                        a(href="#").item-footer-spoiler__link Подарочные сертификаты
                                    li.item-footer-spoiler__item
                                        a(href="#").item-footer-spoiler__link Партнеры
                                    li.item-footer-spoiler__item
                                        a(href="#").item-footer-spoiler__link Товары со скидкой
                        </div>
                    </div>
                </div>
                <div data-spollers="768,max" class="spollers footer__spoiler">
                    <div class="spollers__item item-footer-spoiler">
                        <button type="button" data-spoller-close data-spoller class="item-footer-spoiler__title">ЛИЧНЫЙ КАБИНЕТ</button>
                        <div class="item-footer-spoiler__body">
                            nav.item-footer-spoiler__nav
                                ul.item-footer-spoiler__items 
                                    li.item-footer-spoiler__item
                                        a(href="#").item-footer-spoiler__link Личный кабинет
                                    li.item-footer-spoiler__item
                                        a(href="#").item-footer-spoiler__link История заказов
                                    li.item-footer-spoiler__item
                                        a(href="#").item-footer-spoiler__link Мои закладки
                                    li.item-footer-spoiler__item
                                        a(href="#").item-footer-spoiler__link Рассылка новостей
                        </div>
                    </div>
                </div>
            .footer__floor.floor-item
                <div data-spollers="768,max" class="spollers footer__spoiler">
                    <div class="spollers__item item-footer-spoiler">
                        <button type="button" data-spoller-close data-spoller class="item-footer-spoiler__title">КОНТАКТЫ</button>
                        <div class="item-footer-spoiler__body">
                            nav.item-footer-spoiler__nav
                                ul.item-footer-spoiler__items 
                                    li.item-footer-spoiler__item
                                        a(href="tel:88007774967").item-footer-spoiler__link.link-spoiler-icon.link-spoiler-icon--phone 8 (800) 777-49-67
                                    li.item-footer-spoiler__item
                                        .item-footer-spoiler__link.link-spoiler-icon.link-spoiler-icon--time    
                                            p Пн-Пт 
                                            p 7:00 - 16:00 (МСК)
                                    li.item-footer-spoiler__item
                                        .item-footer-spoiler__link.link-spoiler-icon.link-spoiler-icon--location 
                                            p Златоуст, ул. Шоссейная, д. 1, офис «6Б»
                                    li.item-footer-spoiler__item
                                        a(href="mailto:info@zlatmax.ru").item-footer-spoiler__link.link-spoiler-icon.link-spoiler-icon--mail info@zlatmax.ru
                            ul.footer-social 
                                li.footer-social__item 
                                    a(href="#").footer-social__link.footer-social__link--fb
                                li.footer-social__item 
                                    a(href="#").footer-social__link.footer-social__link--viber
                                li.footer-social__item 
                                    a(href="#").footer-social__link.footer-social__link--tg
                                li.footer-social__item 
                                    a(href="#").footer-social__link.footer-social__link--wh
                        </div>
                    </div>
                </div>
                <div data-spollers="768,max" class="spollers footer__spoiler">
                    <div class="spollers__item item-footer-spoiler">
                        <button type="button" data-spoller-close data-spoller class="item-footer-spoiler__title">ПОЛЕЗНЫЕ ССЫЛКИ</button>
                        <div class="item-footer-spoiler__body">
                            nav.item-footer-spoiler__nav
                                ul.item-footer-spoiler__items 
                                    li.item-footer-spoiler__item
                                        a(href="#").item-footer-spoiler__link Способы оплаты и доставки
                        </div>
                    </div>
                </div>
                <div data-spollers="768,max" class="spollers footer__spoiler">
                    <div class="spollers__item item-footer-spoiler">
                        <button type="button" data-spoller-close data-spoller class="item-footer-spoiler__title">НАША ГАРАНТИЯ</button>
                        <div class="item-footer-spoiler__body">
                            p.item-footer-spoiler__item Недовольны своей покупкой? Вы можете вернуть ее в течении 30 дней с даты получения,согласно #[a(href="#") нашим правилам]
                        </div>
                    </div>
                </div>
                <div data-spollers="768,max" class="spollers footer__spoiler">
                    <div class="spollers__item item-footer-spoiler">
                        <button type="button" data-spoller-close data-spoller class="item-footer-spoiler__title">НОВОСТНАЯ РАССЫЛКА</button>
                        <div class="item-footer-spoiler__body footer-subscription">
                            p.footer-subscription__title Подпишитесь прямо сейчас!
                            form(action="#").footer-subscription__form
                                input(type="email" name="subscription-email" placeholder="example@gmail.com").footer-subscription__input
                                button.footer-subscription__sub 
                            <label class="checkbox-label footer-subscription__checkbox">
                                <input class="checkbox" type="checkbox">
                                <span class="check-style"></span>
                                | Я прочитал Условия соглашения и согласен с условиями 
                            </label>
                        </div>
                    </div>
                </div>
            .footer__copyright.copyright-footer
                p.copyright-footer__left
                   | Все материалы, размещенные на сайте, носят справочный характер и не являются публичной офертой, определяемойположениями Статьи 437 Гражданского кодекса Российской Федерации. При копировании материалов гиперссылка на www.<script>document.write(window.location.hostname)</script> обязательна!
                p.copyright-footer__right Златоустовские ножи www.<script>document.write(window.location.hostname)</script> ©