header.header 
    .header__top.top-header 
        .container
            nav.top-header__nav 
                ul.top-header__items(data-da=".menu-burger__body, 992")
                    li.top-header__item 
                        a(href="#").top-header__link О нас
                    li.top-header__item.top-header__item--catalog
                        a(href="#").top-header__link.top-header__link--catalog Каталог товаров
                    li.top-header__item 
                        a(href="#").top-header__link Оплата и доставка
                    li.top-header__item 
                        a(href="#").top-header__link Новости
                    li.top-header__item 
                        a(href="#").top-header__link Контакты
            a(href="#").top-header__user #[span Личный кабинет] 
            nav.menu-burger
                button.menu-catalog__back Назад 
                button.top-header__burger.burger 
                .menu-burger__body
                    


    .header__body.body-header
        .container.body-header__container
            a(href="#").body-header__logo
                img(src="@img/header/logo.svg")
            form(action="#" data-da=".catalog-header .container, 580").body-header__search.search-header
                button.search-heade__button.touch-area 
                input(type="text" placeholder="Поиск").search-header__input 
            .body-header__actions.actions-header
                a(href="#").actions-header__location Москва
                .actions-header__phones.phones-header(data-da=".top-header .container, 992, 2")
                    .phones-header__items
                        a(href="tel:88007774967").phones-header__phone 8-800-777-49-67
                        <button data-acord-title id="header-phone-spoiler" class="phones-header__arrow header-phone-spoiler-js touch-area"></button>
                        <div data-acord-body class="phones-header__body"> 
                            ul 
                                li 
                                    a(href="tel:88007774967").phones-header__phone 8-800-866-57-87 
                                li
                                    a(href="tel:88007774967").phones-header__phone 8-800-777-79-04  
                        </div>
                    button.phones-header__callback(data-modal-open="callbackModal") Заказать звонок
                a(href="#").actions-header__favorite(data-da=".top-header .container, 992")
                .actions-header__cart.cart-header.tooltip(data-da=".top-header .container, 992")
                    .cart-header__icon-container(data-tippy-content = "13 070 p." aria-describedby="tooltip-cart")
                        button.cart-header__icon 
                        .cart-heade__badge 
                            span 0
                    <div role="tooltip" id="tooltip-cart">183 070 p.</div>
                    .cart-header__body 
                        span.cart-header__sum 0 р.
                        a(href="#").cart-header__link Оформить заказ                  
    .header__catalog.catalog-header
        .container
            nav.catalog-header__menu.menu-catalog
                ul.menu-catalog__list 
                    li.menu-catalog__item 
                        button(data-nav-parent="1").menu-catalog__link Каталог ножей
                    li.menu-catalog__item 
                        button(data-nav-parent="2").menu-catalog__link Клинковое оружие
                    li.menu-catalog__item 
                        button.menu-catalog__link Сувенирные изделия
                    li.menu-catalog__item 
                        button.menu-catalog__link Фонари ARMYTEK
                    li.menu-catalog__item 
                        button.menu-catalog__link Сопуствующие товары
            .menu-catalog__sub-menu.sub-menu-catalog
                .container
                    .sub-menu-catalog__block.mix.first-menu._sub-menu-open(data-submenu="1") 
                        span.sub-menu-catalog__category #[a(href="#") Категория ножей] 
                        span.sub-menu-catalog__category #[a(href="#") Производство ножей] 
                        span.sub-menu-catalog__category #[a(href="#") Ножи по маркам стали] 
                        span.sub-menu-catalog__category #[a(href="#") Заточка и полировка ножей] 
                        span.sub-menu-catalog__category #[a(href="#") Ножевая мастерская] 
                        
                        ul.sub-menu-catalog__list
                            li.sub-menu-catalog__item
                                a(href="#").sub-menu-catalog__link Разделочные ножи
                            li.sub-menu-catalog__item
                                a(href="#").sub-menu-catalog__link Туристические ножи
                            li.sub-menu-catalog__item
                                a(href="#").sub-menu-catalog__link Ножи охотничьи
                            li.sub-menu-catalog__item
                                a(href="#").sub-menu-catalog__link Булатные ножи
                            li.sub-menu-catalog__item
                                a(href="#").sub-menu-catalog__link Ножи из дамаска
                            li.sub-menu-catalog__item
                                a(href="#").sub-menu-catalog__link Тактического назначения
                            li.sub-menu-catalog__item
                                a(href="#").sub-menu-catalog__link Метательные ножи
                            li.sub-menu-catalog__item
                                a(href="#").sub-menu-catalog__link Мачете и кукри
                            li.sub-menu-catalog__item
                                a(href="#").sub-menu-catalog__link Ножи кухонные
                        ul.sub-menu-catalog__list
                            li.sub-menu-catalog__item
                                a(href="#").sub-menu-catalog__link Ножи АИР
                            li.sub-menu-catalog__item
                                a(href="#").sub-menu-catalog__link Ножи ЗИК
                            li.sub-menu-catalog__item
                                a(href="#").sub-menu-catalog__link Ножи ЗЗОСС
                            li.sub-menu-catalog__item
                                a(href="#").sub-menu-catalog__link Ножи РОСоружие
                            li.sub-menu-catalog__item
                                a(href="#").sub-menu-catalog__link Ножи Оружейник
                            li.sub-menu-catalog__item
                                a(href="#").sub-menu-catalog__link Булат Сергея Баранова
                            li.sub-menu-catalog__item
                                a(href="#").sub-menu-catalog__link Булат Андрея Умерова
                            li.sub-menu-catalog__item
                                a(href="#").sub-menu-catalog__link Ножи Златко
                            li.sub-menu-catalog__item
                                a(href="#").sub-menu-catalog__link Ножи Стиль-М
                            li.sub-menu-catalog__item
                                a(href="#").sub-menu-catalog__link Оружейная компания
                        ul.sub-menu-catalog__list
                            li.sub-menu-catalog__item
                                a(href="#").sub-menu-catalog__link Ножи из стали 40х102С2М
                            li.sub-menu-catalog__item
                                a(href="#").sub-menu-catalog__link Ножи из стали 95х18
                            li.sub-menu-catalog__item
                                a(href="#").sub-menu-catalog__link Ножи из стали 100х13м
                            li.sub-menu-catalog__item
                                a(href="#").sub-menu-catalog__link Ножи из стали 110х18м-ШД
                            li.sub-menu-catalog__item
                                a(href="#").sub-menu-catalog__link Ножи из стали ЭИ-107 ТЦ
                            li.sub-menu-catalog__item
                                a(href="#").sub-menu-catalog__link Ножи из стали 50х14МФ
                            li.sub-menu-catalog__item
                                a(href="#").sub-menu-catalog__link Ножи из стали AUS-8
                            li.sub-menu-catalog__item
                                a(href="#").sub-menu-catalog__link Ножи из стали К340
                            li.sub-menu-catalog__item
                                a(href="#").sub-menu-catalog__link Ножи из стали M390
                            li.sub-menu-catalog__item
                                    a(href="#").sub-menu-catalog__link Ножи из стали ЭП-766
                        ul.sub-menu-catalog__list
                                li.sub-menu-catalog__item
                                    a(href="#").sub-menu-catalog__link Паста ГОИ
                                li.sub-menu-catalog__item
                                    a(href="#").sub-menu-catalog__link Алмазная паста
                                li.sub-menu-catalog__item
                                    a(href="#").sub-menu-catalog__link Бруски и камни для заточки
                                li.sub-menu-catalog__item
                                    a(href="#").sub-menu-catalog__link Заточные системы   
                        ul.sub-menu-catalog__list
                            li.sub-menu-catalog__item
                                a(href="#").sub-menu-catalog__link Ножевые клинки
                            li.sub-menu-catalog__item
                                a(href="#").sub-menu-catalog__link Заготовки для ножей
                            li.sub-menu-catalog__item
                                a(href="#").sub-menu-catalog__link Литье для ножей
                            li.sub-menu-catalog__item
                                a(href="#").sub-menu-catalog__link Материалы для рукоятей
                            li.sub-menu-catalog__item
                                a(href="#").sub-menu-catalog__link Уход за рукоятиями ножей
                        
                        span.sub-menu-catalog__all #[a(href="#") Смотреть все]  
                        span.sub-menu-catalog__all #[a(href="#") Смотреть все]  
                        span.sub-menu-catalog__all #[a(href="#") Смотреть все]  
                        span.sub-menu-catalog__all #[a(href="#") Смотреть все]  
                        span.sub-menu-catalog__all #[a(href="#") Смотреть все]  
                        
                    .sub-menu-catalog__block.mix.second-menu._sub-menu-open(data-submenu="2")  
                        span.sub-menu-catalog__category #[a(href="#") Заточка и полировка ножей] 
                        span.sub-menu-catalog__category #[a(href="#") Ножевая мастерская] 
                        span.sub-menu-catalog__category #[a(href="#") Категория ножей] 

                        ul.sub-menu-catalog__list
                            li.sub-menu-catalog__item
                                a(href="#").sub-menu-catalog__link Паста ГОИ
                            li.sub-menu-catalog__item
                                a(href="#").sub-menu-catalog__link Алмазная паста
                            li.sub-menu-catalog__item
                                a(href="#").sub-menu-catalog__link Бруски и камни для заточки
                            li.sub-menu-catalog__item
                                a(href="#").sub-menu-catalog__link Заточные системы
                        ul.sub-menu-catalog__list
                            li.sub-menu-catalog__item
                                a(href="#").sub-menu-catalog__link Ножевые клинки
                            li.sub-menu-catalog__item
                                a(href="#").sub-menu-catalog__link Заготовки для ножей
                            li.sub-menu-catalog__item
                                a(href="#").sub-menu-catalog__link Литье для ножей
                            li.sub-menu-catalog__item
                                a(href="#").sub-menu-catalog__link Материалы для рукоятей
                            li.sub-menu-catalog__item
                                a(href="#").sub-menu-catalog__link Уход за рукоятиями ножей
                        ul.sub-menu-catalog__list
                            li.sub-menu-catalog__item
                                a(href="#").sub-menu-catalog__link Разделочные ножи
                            li.sub-menu-catalog__item
                                a(href="#").sub-menu-catalog__link Туристические ножи
                            li.sub-menu-catalog__item
                                a(href="#").sub-menu-catalog__link Ножи охотничьи
                            li.sub-menu-catalog__item
                                a(href="#").sub-menu-catalog__link Булатные ножи
                            li.sub-menu-catalog__item
                                a(href="#").sub-menu-catalog__link Ножи из дамаска
                            li.sub-menu-catalog__item
                                a(href="#").sub-menu-catalog__link Тактического назначения
                            li.sub-menu-catalog__item
                                a(href="#").sub-menu-catalog__link Метательные ножи
                            li.sub-menu-catalog__item
                                a(href="#").sub-menu-catalog__link Мачете и кукри
                            li.sub-menu-catalog__item
                                a(href="#").sub-menu-catalog__link Ножи кухонные
                        
                        span.sub-menu-catalog__all #[a(href="#") Смотреть все]  
                        span.sub-menu-catalog__all #[a(href="#") Смотреть все]  
                        span.sub-menu-catalog__all #[a(href="#") Смотреть все]  