section.product-slider.product-slider-four-slide.flashlight-product-section
    .container
        .product-slider__header 
            h2.product-slider__title.h2-title Фонари
            a(href="#").product-slider__more Перейти в каталог
        .product-slider__slider 
            <div class="swiper product-slider__swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        +product-card("Нож лиса", "95x18", "Орех, Алюминий", "4.2", "12 отзывов", "2 719 р.", "@img/flashlight/flashlight-")
                    </div>
                    <div class="swiper-slide">
                        +product-card("Нож волк", "95x18", "Орех, Алюминий", "4.2", "12 отзывов", "2 719 р.", "@img/flashlight/flashlight-")
                    </div>
                    <div class="swiper-slide">
                        +product-card("Нож лиса", "95x18", "Орех, Алюминий", "4.2", "12 отзывов", "2 719 р.", "@img/flashlight/flashlight-")
                    </div>
                    <div class="swiper-slide">
                        +product-card("Нож лиса", "95x18", "Орех, Алюминий", "4.2", "12 отзывов", "2 719 р.", "@img/flashlight/flashlight-")
                    </div>
                    <div class="swiper-slide">
                        +product-card("Нож лиса", "95x18", "Орех, Алюминий", "4.2", "12 отзывов", "2 719 р.", "@img/flashlight/flashlight-")
                    </div>
                    <div class="swiper-slide">
                        +product-card("Нож лиса", "95x18", "Орех, Алюминий", "4.2", "12 отзывов", "2 719 р.", "@img/flashlight/flashlight-")
                    </div>
                </div>

                <div class="product-slider-pagination swiper-pagination"></div>
            </div>   